extends ../../includes/layoutBanquet
block banquetContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/banquets") Banquet Welcome
        li
            a(href="/banquets/menus") Banquet Menus
        li.active  Breakfast Menus
    .btn-toolbar(style="margin-bottom: 15px")
        a.btn.btn-default(href="" ) Breakfast Menus
        a.btn.btn-info(href="/banquets/menus/lunch" ) Lunch Menus
        a.btn.btn-info(href="/banquets/menus/dinner" ) Dinner Menus
    h2 Breakfast Banquets
    p Breakfast banquets are perfect for early morning business meeting, 
        | fueling up for a day in Old Town or Wine Country, or enjoying friends 
        | and family the morning after a big wedding.
    p Banquets may start as early as 7:30am and can be extended into an all 
        | day event when lunch and dinner options are purchased.
    p Buffet and Plate Service breakfasts make ordering easy. Just tell us 
        | the number of people in the party and your event is planned. 
        | Custom menus allow more flexibility and creativity on your part. 
        | Remember, upgrade selections, including audio/visual equipment, 
        | can be found here if you would like to enhance your party.
    p Currently the normal food and beverage minimums do not apply to 
        | breakfast banquets. However a minimum of 20 people are 
        | required to book a party.
    hr
    
    h2= viewBag.banqBreakPreComp.Menu.MenuTitle
    // p
    //     em= h2= viewBag.banqBreakCustom.Menu.SubTitle 
    each val in viewBag.banqBreakPreComp.Menu.Sections.Section
        h3= val.SectionTitle
        p
            em= val.SectionHeaderText
        each item in val.MenuItems.MenuItem
            table.MenuItem
                tr
                    td.MenuName
                        span= item.MenuLName + '  '
                    td.Leader 
                        div.Leader &nbsp;
                    td.MenuItemPrice= ' ' + utils.getPriceNoCents(item.MenuPrice,true,{replaceZero:'$Market'})
                tr
                    td.Description(colspan="3")= item.MenuDescription
        p
            em= val.SectionFooterText
    p= viewBag.banqBreakPreComp.Menu.Footer
    
    hr
    
    h2= viewBag.banqBreakCustom.Menu.MenuTitle
    // p
    //     em= h2= viewBag.banqBreakCustom.Menu.SubTitle
    each val in viewBag.banqBreakCustom.Menu.Sections.Section
        h3= val.SectionTitle
        p
            em= val.SectionHeaderText
        each item in val.MenuItems.MenuItem
            table.MenuItem
                tr
                    td.MenuName
                        span= item.MenuLName + '  '
                    td.Leader 
                        div.Leader &nbsp;
                    td.MenuItemPrice= ' ' + utils.getPriceNoCents(item.MenuPrice,false,{replaceZero:'included'})
                tr
                    td.Description(colspan="3")= item.MenuDescription
        p
            em= val.SectionFooterText
    p= viewBag.banqBreakCustom.Menu.Footer