extends ../../includes/layoutDining
block diningContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home 
    //-         &nbsp;
    //-     li
    //-         a(href="/dining") Restaurant Info 
    //-         &nbsp;
    //-     li.active  Menu
    //h2= viewBag.menu.Menu.MenuTitle
    //.list-group
    img.pull-right.radiusBorder5px.img-responsive.border(src="/assets/chixPicatta.png" )
    p Chef De Lira and his staff work every day preparing the menu from scratch.
        | This includes baking bread, making pasta, dressings, stocks, soups, sauces
        | and more. We are proud of our food and we encourage you to try every menu item...
        | of course not in one sitting!
    p If you feel interested in how something is made, please ask your server. In most cases the chef
        | may come to your table and describe the process, occasionally granting a recipe.
        | If you have any special dietary requirements, be sure to ask your server for 
        | assistance in making your selection. We may be able to make adjustments to an existing
        | item, or make one just for you!

    
    each val in viewBag.menu.Menu.Sections.Section
        h3= val.SectionTitle
        // each item in val.MenuItems.MenuItem
        //     table.MenuItem2
        //         tr
        //             td.MenuName2= item.MenuLName
        //             td.MenuItemPrice2= utils.getPriceNoCents(item.MenuPrice,true)
        //         tr
        //             td.MenuItemDescription2(colspan="2")= item.MenuDescription
        //             td
        each item in val.MenuItems.MenuItem
            table.MenuItem
                tr
                    td.MenuName
                        span= item.MenuLName + '  '
                    td.Leader 
                        div.Leader &nbsp;
                    td.MenuItemPrice= ' ' + utils.getPriceNoCents(item.MenuPrice,true,{replaceZero:'$Market'})
                tr
                    td.Description(colspan="3")= item.MenuDescription
    p= viewBag.menu.Menu.Footer
    
   


