extends ../../includes/layoutDining
block diningContent
    //h2= viewBag.menu.Menu.MenuTitle
    //.list-group
    img.pull-right.inParagraph.img-responsive(src="/assets/bailywinery.png" )
    p.lead Chef Blucher and his staff work every day preparing the menu from scratch.
        | This includes baking bread, making pasta, dressings, stocks, soups, sauces
        | and more. We are proud of our food and we encourage you to try every menu item...
        | of course not in one sitting!
    p If you are ever interested in how something is made please ask you server.  Most of the time 
        | the chef is able to come to you table and describe the process, and some times he we give 
        | you the recipe. Also, if you have special dietary requirements be sure to ask you server for 
        | assistance in making your selection and many time we can make adjustments to an existing
        | item or make one up just for you!
    .clearfix
    each val in viewBag.menu.Menu.Sections.Section
        h3= val.SectionTitle
        // each item in val.MenuItems.MenuItem
        //     table.MenuItem2
        //         tr
        //             td.MenuName2= item.MenuLName
        //             td.MenuItemPrice2= utils.getPriceNoCents(item.MenuPrice,true)
        //         tr
        //             td.MenuItemDescription2(colspan="2")= item.MenuDescription
        //             td
        each item in val.MenuItems.MenuItem
            table.MenuItem
                tr
                    td.MenuName
                        span= item.MenuLName + '  '
                    td.Leader 
                        div.Leader &nbsp;
                    td.MenuItemPrice= ' ' + utils.getPriceNoCents(item.MenuPrice,true,{replaceZero:'$Market'})
                tr
                    td.Description(colspan="3")= item.MenuDescription
    p= viewBag.menu.Menu.Footer
    
   


