extends ../../includes/layoutDining
block diningContent
    h2= viewBag.menu.Menu.MenuTitle
    .list-group
        each val in viewBag.menu.Menu.Sections.Section
            h3= val.SectionTitle
            each item in val.MenuItems.MenuItem
                h4.MenuItem= item.MenuLName + ' ' + item.MenuPrice
                p= item.MenuDescription
    p= viewBag.menu.Menu.Footer




