
extends ../../includes/layoutDining
block diningContent
    //- img.pull-right.stdImgSize.radiusBorder5px.img-responsive.border(src="/assets/vintage2019.jpg" )
    p Tuesday, December 31st is our annual New Year's Eve extravaganza.  We have three offerings for 
        | your night of entertainment.  Come for any one of the three or all of them...the choice is yours.
    ul 
        h4 Pre Party on the first floor
        li 5:00 to 7:00PM (last seating at 7pm)
        li Open menu and appetizer specials.
        li Live music
    ul 
        h4 Dinner on the second floor
        li By reservation from 5:00pm - 10:00pm
        li Four course menu
        li $79 per person
        li Complimentary cover charge for the nightclub.
    ul 
        h4 Nightclub Celebration
        li 9:00pm - 2:00am
        li Professional photographer
        li Complimentary champagne toast
        li $25 per person cover charge
        li VIP Table Service options available by reservation
    
    each val in viewBag.menu.Menu.Sections.Section
        h3= val.SectionTitle
        //- each item in val.MenuItems.MenuItem
        //-     table.MenuItem2
        //-         tr
        //-             td.MenuName2= item.MenuLName
        //-             td.MenuItemPrice2= utils.getPriceNoCents(item.MenuPrice,true)
        //-         tr
        //-             td.MenuItemDescription2(colspan="2")= item.MenuDescription
        //-             td
        each item in val.MenuItems.MenuItem
            table.MenuItem
                tr
                    td.MenuName
                        span= item.MenuLName + '  '
                    td.Leader 
                        div.Leader &nbsp;
                    td.MenuItemPrice= ' ' + utils.getPriceNoCents(item.MenuPrice,true,{replaceZero:'$Market'})
                tr
                    td.Description(colspan="3")= item.MenuDescription
    p= viewBag.menu.Menu.Footer