
extends ../../includes/layoutDining
block diningContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home 
    //-         &nbsp;
    //-     li
    //-         a(href="/dining") Restaurant Info 
    //-         &nbsp;
    //-     li.active  Menu
    //h2= viewBag.menu.Menu.MenuTitle
    //.list-group
    img.pull-right.stdImgSize.radiusBorder5px.img-responsive.border(src="/assets/vintage2019.jpg" )
    p Monday, December 31st is our annual New Year's Eve extravaganza.  We have three offerings for 
        | your night of entertainment.  Come for any one of the three or all of them...the choice is yours.
    ul(style='list-style-type:disc') Pre Party on the first floor - NO COVER CHARGE
        li 5:00 to 9:00PM
        li Open menu and appetizer specials.
    ul(style='list-style-type:disc') Dinner on the second floor
        li Four course menu (see below)
        li Reservations available from 5:00pm to 10:00pm $79 per person.
        li Complimentary cover charge for the nightclub.
    ul(style='list-style-type:disc') Nightclub Celebration at Eleven After Dark
        li 9:00pm - 2:00am
        li Photographer: Photos available on Facebook on 1/5/18.
        li Voucher for a glass of champagne.
            li $25 per person cover charge
    
    each val in viewBag.menu.Menu.Sections.Section
        h3= val.SectionTitle
        // each item in val.MenuItems.MenuItem
        //     table.MenuItem2
        //         tr
        //             td.MenuName2= item.MenuLName
        //             td.MenuItemPrice2= utils.getPriceNoCents(item.MenuPrice,true)
        //         tr
        //             td.MenuItemDescription2(colspan="2")= item.MenuDescription
        //             td
        each item in val.MenuItems.MenuItem
            table.MenuItem
                tr
                    td.MenuName
                        span= item.MenuLName + '  '
                    td.Leader 
                        div.Leader &nbsp;
                    td.MenuItemPrice= ' ' + utils.getPriceNoCents(item.MenuPrice,true,{replaceZero:'$Market'})
                tr
                    td.Description(colspan="3")= item.MenuDescription
    p= viewBag.menu.Menu.Footer
    
   