extends ../../includes/layoutNightclub
block nightclubContent

    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li
    //-         a(href="/nightclub") Nightclub Info
    //-     li.active  VIP Table Service
    //p Here is the nightclub table service information! -- MORE IN COMMENTS
    



    h3 Table Service Menu
    p Unless noted, table service includes a 750ml bottle with appropriate garnishes and mixers. Energy drinks 
        |are available for an addtional charge. Price includes cover charge for six people. Each addtional person 
        |is $10.00. Second price listed is for New Year's Eve and includes cover charge for six people, each additional 
        |person is $25. Call 951-676-9567 to make reservations.
        
    script var data = !{JSON.stringify(viewBag.bottles)}; console.log(data);
    each val in viewBag.bottles.Menu.Sections.Section
        h3= val.SectionTitle
          //If case for when the data at MenuItems.MenuItem is a single object > create a table entry for that one object
        if val.MenuItems.MenuItem.MenuLName
            table.MenuItem
                tr
                        td.MenuName
                            span= val.MenuItems.MenuItem.MenuLName + '  ' + (val.MenuItems.MenuItem.AdditionalTitleText ? val.MenuItems.MenuItem.AdditionalTitleText : "")
                        td.Leader 
                            div.Leader &nbsp;
                        td.MenuItemPrice= utils.getPriceNoCents(val.MenuItems.MenuItem.MenuPrice,true,{replaceZero:'$Market'}) + " " + (val.MenuItems.MenuItem.MenuPriceFor ? val.MenuItems.MenuItem.MenuPriceFor : "")
                        td.MenuItemPrice= utils.getPriceNoCents(val.MenuItems.MenuItem.MenuPrice2,true,{replaceZero:'$Market'}) + " " + (val.MenuItems.MenuItem.MenuPricefor2 ? val.MenuItems.MenuItem.MenuPricefor2 : "")
            //if there is an array of objects at MenuItem.menuItem > Iterate though each object, creating a table for each
        else
            each item in val.MenuItems.MenuItem
                table.MenuItem
                    tr
                        if item
                            td.MenuName
                                span= item.MenuLName + '  ' + (item.AdditionalTitleText ? item.AdditionalTitleText : "")
                            td.Leader 
                                div.Leader &nbsp;
                            td.MenuItemPrice= utils.getPriceNoCents(item.MenuPrice,true,{replaceZero:'$Market'}) + " " + (item.MenuPriceFor ? item.MenuPriceFor : "")
                            td.MenuItemPrice= utils.getPriceNoCents(item.MenuPrice2,true,{replaceZero:'$Market'}) + " " + (item.MenuPricefor2 ? item.MenuPricefor2 : "")
    p= viewBag.bottles.Menu.Footer

//p=viewBag.bottles.Menu.Sections.Section[0].MenuItems.MenuItem[0].MenuLName

